#
# Atari Gamer Common Lynx Library.
# Copyright 2022 Igor Kromin (atarigamer.com)
#
# Licensed under the Apache License, Version 2.0 (the "License"); 
# you may not use this file except in compliance with the License. 
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software 
# distributed under the License is distributed on an "AS IS" BASIS, 
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
# See the License for the specific language governing permissions and 
# limitations under the License.
#

SYMBOLS {
    __STACKSIZE__:        type = export, value = 128;   # stack size in bytes
    __STARTOFDIRECTORY__: type = export, value = 203;   # start just after loader
    __BANK0BLOCKSIZE__:   type = export, value = 2048;  # Bank 0 cart block size (2048=512k ROM, 1024=256k ROM)
    __BANK1BLOCKSIZE__:   type = export, value = 0;     # Bank 1 block size
    __BLOCKSIZE__:        type = export, value = __BANK0BLOCKSIZE__; # backwards compatibility for older code
    __EXEHDRUSR__:        type = import;                # LNX file header, see lnxhdr.s to customise
    __DEFDIR__:           type = import;                # Lynx file system directory
}
MEMORY {
    ZP:     file = "", define = yes, start =     0, size = 256;   # zero page is 256 bytes
    HEADER: file = %O,               start =     0, size = 64;    # LNX header is 64 bytes
    BOOT:   file = %O,               start =   512, size = __STARTOFDIRECTORY__;
    DIR:    file = %O,               start =     0, size = 8;
    MAIN:   file = %O, define = yes, start =   512, size = 65536 - __STACKSIZE__ - __STARTOFDIRECTORY__ + 64 - 8, fill = yes, fillval = 65;
}
SEGMENTS {
    ZEROPAGE:  load = ZP,     type = zp;
    # used for variables that require quick access
    EXTZP:     load = ZP,     type = zp,                optional = yes;
    EXEHDRUSR: load = HEADER, type = ro;
    BOOTLDR:   load = BOOT,   type = ro;
    DIRECTORY: load = DIR,    type = ro;
    STARTUP:   load = MAIN,   type = ro,  define = yes;
    LOWCODE:   load = MAIN,   type = ro,  define = yes, optional = yes;
    ONCE:      load = MAIN,   type = ro,  define = yes, optional = yes;
    CODE:      load = MAIN,   type = ro,  define = yes;
    RODATA:    load = MAIN,   type = ro,  define = yes;
    DATA:      load = MAIN,   type = rw,  define = yes;
    BSS:       load = MAIN,   type = bss, define = yes;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}
